*{
    margin: 0;
    padding: 0;
    box-sizing:border-box}
html{
    font-size: 62.5%
}

.headerProductos{
    background-color: rgba(255, 199, 209, 0.527);
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-area: "header";
    grid-template-areas: 
    "casitaInicio titulo";
    justify-items: center;
    align-items: center;
}

.casitaInicio{
    grid-area: "casitaInicio";
    margin: 5px;
    width: 15px;
    height: 15px;
}


.titulo{
    font-family: "fuentelocal";
    display: grid;
    grid-area: "titulo";
    justify-content: center;
    align-content: center;
    font-size: 45px;
}



@font-face {
    font-family: "fuentelocal";
    src:
     url(../fuentes/fuentelocal.ttf);
}

.imagenes{

}

.navbar-brand{
    font-size: 25px;
}

.collapse navbar-collapse{
    padding: 10px;
    max-resolution: 10px;

}
.nav-item{
    font-size: 15px;
    color: black;
}

