.titulo{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: bolder;
    /*display: grid;*/
    grid-area: titulo;
    margin: 0;
    /*justify-content: center;
    align-content: center;*/
    font-size: 45px;
}

.headerProductos{
    background-color: rgba(255, 199, 209, 0.527);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr;
    grid-template-areas: 
    "casitaInicio titulo titulo boton";
    justify-items: center;
    align-items: center;
}

.boton_header{
    display: grid;
    height: 25px;
    width: 100px;
    grid-area: boton;
    justify-self: center;

}

.casitaInicio{
    grid-area: casitaInicio;
}

.nav-item{
    font-size: 20px;
    justify-content: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}